<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" class="fix">
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>Quiver Quantitative</title>
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Quiver Quantitative" />
	<meta property="og:description" content="Unlock the Power of Big Data with the Next Generation of Investment Analysis Tools" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="img/.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="180"> <!-- size of og:image -->
	<meta property="og:site_name" content="">
	<meta name="theme-color" content="#ffffff">
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />

	<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
	<link rel="manifest" href="/static/favicon/site.webmanifest">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="/static/css/reset.css" />
	<link rel="stylesheet" href="/static/style.css" />
	<link rel="stylesheet" href="/static/css/responsive.css" />
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158102121-1"></script> 
	<script> window.dataLayer = window.dataLayer || []; function 
	gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config',
	'UA-158102121-1'); gtag('set', {'user_id': {{user.id}}});ga('set', 'userId', {{user.id}});</script> 

</head>
<body class="fix">


<div class="preloader">
	<div class="preloader_logo">
		<img src="/static/img/logo.png" alt="">
	</div>
</div>


<header class="main__header">
	<div class="main__header_inner">
		<a href="/" class="logo">
			<img src="/static/img/logo.png" alt="">
		</a>
		<nav class="main__nav">
			<h3 class="main__nav_title delay">Menu</h3>
			<ul class="main__nav_menu">
				<li class="delay"><a href="/">Home</a></li>
				<li class="delay"><a href="https://www.quiverquant.com/blog">Blog</a></li>
				<li class="delay"><a href="https://www.quiverquant.com/aboutus">About</a></li>
                <li class="active delay"><a href="https://www.quiverquant.com/careers">Careers</a></li>
			</ul>
			<ul class="main__nav_actions">
				<li class="delay"><a href="#register__window" class="btn modal__open">Sign Up</a></li>
				<li class="delay"><a href="#login__window" class="btn btn-invert modal__open">Sign In</a></li>
			</ul>
		</nav>
		<div class="right">
			<ul class="header__actions">
				<li><a href="#register__window" class="modal__open"><img src="/static/img/sign-up-icon.svg" alt="">Sign Up</a></li>
				<li><a href="#login__window" class="modal__open"><img src="/static/img/sign-in-icon.svg" alt="">Sign In</a></li>
			</ul>
			<a href="javascript:void(0);" class="mobile-menu-button">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div>
	</div>
</header>

<div id="sub__root">
	<section class="two__sides quiver reverse animation">
		<div class="two__sides_inner">
			<div class="two__sides_inner_side left">
				<div class="two__sides_image">
					<img class="schema-1" src="/static/img/schema-4.svg" alt="" data-delay="0.6">
				</div>
			</div>
			<div class="two__sides_inner_side right">
				<div class="two__sides_text">
					<h2 class="two__sides_text_title" data-delay="0">Join our team</h2>
					<h3 class="two__sides_text_subtitle" data-delay="0.2">We are looking for talented, passionate professionals to help us build the future of investing</h3>
					<div class="two__sides_action" data-delay="0.6">
						<a href="https://www.indeed.com" class="btn">Apply Now</a>
					</div>
				</div>
			</div>
		</div>
    </section>
    <h2 class="two__sides_text_title" data-delay="0" style="text-align:center">Open Roles</h2>
        <div style="margin: auto;width: 80%;border-color:azure;border-width:1px;border-radius:3px;">
            <h2 style="float:left">React Native Lead Developer</h2>
            <a href="https://www.indeed.com" class="btn" style="float:right">View Job</a>
        </div>

</div>

<footer class="main__footer">
	<div class="main__footer_inner">
		<div class="side left">
			<a href="/" class="logo">
				<img src="/static/img/logo.png" alt="">
			</a>
			<p class="note">Quiver scrapes alternative stock data from across the internet and aggregates it in an free, easy-to-use web dashboard.</p>
			<div class="copy">
				<span>Copyright © 2020 Quiver Quantitative, Inc. All rights reserved.</span>
				<ul>
					<li><a href="https://www.quiverquant.com/privacypolicy">Privacy Policy</a></li>
					<li><a href="https://www.quiverquant.com/termsofservice">Terms of Service</a></li>
				</ul>
			</div>
		</div>
		<div class="side center">
			<ul class="footer__menu">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="https://www.quiverquant.com/blog">Blog</a></li>
				<li><a href="https://www.quiverquant.com/aboutus">About</a></li>
			</ul>

			<ul class="footer__actions">
				<li><a href="#register__window" class="modal__open"><img src="/static/img/sign-up-icon.svg" alt=""> Sign Up</a></li>
				<li><a href="#login__window" class="modal__open"><img src="/static/img/sign-in-icon.svg" alt=""> Sign In</a></li>
			</ul>
		</div>
		<div class="side right">
			<div class="copy">
				<span>Copyright © 2020 Quiver Quantitative, Inc. All rights reserved.</span>
				<ul>
					<li><a href="https://www.quiverquant.com/privacypolicy">Privacy Policy</a></li>
					<li><a href="https://www.quiverquant.com/termsofservice">Terms of Service</a></li>
				</ul>
			</div>
			<div class="autor">
				<span>Design by: </span>
				<a href="https://amen.team/" target="_blank"><img src="/static/img/amen-logo.svg" alt=""></a>
			</div>
		</div>
	</div>
</footer>



<!-- modals -->


<div class="modal__window" id="login__window">
	<div class="modal__window_overlay"></div>
	<div class="modal__window_content">
		<button class="modal__window_close">
			<span class="modal__window_close_icon">
				<span></span>
				<span></span>
			</span>
		</button>
		<div class="modal__window_content_inner">
			<form action="../login/" class="login__form" method="post">
				{% csrf_token %}
				<h3 class="form__title">TRADE SMARTER</h3>
				<span class="form__notice">with our free, cutting-edge alternative data platform</span>
				<div class="field__wrapper name">
					<input type="text" name="username" placeholder="Username" id="username">
					<span class="error__text">Please enter user name</span>
				</div>
				<div class="field__wrapper pass valid">
					<input type="password" name="password" placeholder="Password" id="password">
					<span class="error__text">Password too short</span>
				</div>
				<div class="submit__wrapper">
					<button type="submit" class="btn">Sign in</button>
				</div>
				<div style="margin-bottom:0rem" class="redirect">Don't have an account? <a href="#register__window" class="modal__open">Sign Up for Free</a></div>
				<div class="redirect"><a href="../password_reset/" class="">Forgot password?</a></div>
			</form>
		</div>
	</div>
</div>


<div class="modal__window" id="register__window">
	<div class="modal__window_overlay"></div>
	<div class="modal__window_content">
		<button class="modal__window_close">
			<span class="modal__window_close_icon">
				<span></span>
				<span></span>
			</span>
		</button>
		<div class="modal__window_content_inner">
			<form action="../register/" class="login__form" method="post">
				{% csrf_token %}
				<h3 class="form__title">TRADE SMARTER</h3>
				<span class="form__notice">with our free, cutting-edge alternative data platform</span>
				<div class="field__wrapper name">
					<input type="text" name="username" required id="id_username" maxlength="150" placeholder="Username">
					<span class="error__text">Please enter user name</span>
				</div>
				<div class="field__wrapper email valid">
					<input type="email" name="email" placeholder="Email" required id="email">
					<span class="error__text">Please enter valid email</span>
				</div>
				<div class="field__wrapper pass valid">
					<input type="password" name="password1" placeholder="Password" required id="id_password1">
					<span class="error__text">Password too short</span>
				</div>
				<div class="field__wrapper pass valid">
					<input type="password" name="password2" placeholder="Confirm Password" required id="id_password2">
					<span class="error__text">Password too short</span>
				</div>
				<div class="submit__wrapper">
					<button type="submit" class="btn">Sign Up</button>
				</div>
				<div class="redirect">I already have an account, <a href="#login__window" class="modal__open">Sign In</a></div>
			</form>
		</div>
	</div>
</div>


	

	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
	<script src="/static/js/TweenMax.min.js"></script>
	<script src="/static/js/plotly.js"></script>
	<script src="/static/js/custom2.js"></script>
</body>
</html>