<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" class="fix">
{% load static %}
<head>
	<meta charset="UTF-8">
	<title>Quiver Quantitative</title>
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ ticker }} - Quiver Quantitative" />
	<meta property="og:description"
		content="Unlock the Power of Big Data with the Next Generation of Investment Analysis Tools" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="/static/images/dashboard_preview.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="180"> <!-- size of og:image -->
	<meta property="og:site_name" content="">
	<meta name="theme-color" content="#ffffff">
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />

	<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
	<link rel="manifest" href="/static/favicon/site.webmanifest">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="/static/css/reset.css" />
	<link rel="stylesheet" href="/static/style.css" />
	<link rel="stylesheet" href="/static/css/responsive.css" />

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158102121-1"></script> 
	<script> window.dataLayer = window.dataLayer || []; function 
	gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config',
	'UA-158102121-1'); </script> 
</head>
<body>


<header class="main__header dashboard__header">
	<div class="main__header_inner">
		<a href="/" class="logo">
			<img src="/static/img/logo.png" alt="">
		</a>
		<!-- <div class="right">
			<a href="javascript:void(0);" class="mobile-menu-button">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div> -->
	</div>
</header>


<main id="dashboard" class="dashboard collapsed">
	<!-- <div id="dashboard__sidebar" class="dashboard__sidebar">
		<div class="dashboard__sidebar_trigger"></div>
		<div class="dashboard__sidebar_header">
			<a href="javascript:void(0);" class="logo">
				<img src="/static/img/logo-icon.png" alt="">
				<span>QUIVER QUANTITATIVE</span>
			</a>
		</div>
		<div class="dashboard__sidebar_main">
			<div class="dashboard__sidebar_main_inner">
				<div class="dashboard__sidebar_filter dropout">
					<h6 class="dashboard__sidebar_filter_title"><img src="/static/img/link-icon.svg" alt="" class="icon"><span>Data by source</span></h6>
					<div class="dashboard__sidebar_filter_field_wrapper">
						<div class="dashboard__sidebar_filter_field">
							<div class="dashboard__sidebar_filter_field_icon">
								<img src="/static/img/link-icon.svg" alt="">
							</div>
							<div class="input">Select a source</div>
							<input type="hidden" class="source__result_input">
						</div>
						<div class="dashboard__sidebar_filter_list_wrapper">
							<div class="dashboard__sidebar_filter_list">
								<ul>
									<li><a href="https://www.quiverquant.com/sources/corporateflights">CORPORATE FLIGHTS</a></li>
									<li><a href="https://www.quiverquant.com/sources/coronavirus">CORONAVIRUS - US SPREAD</a></li>
									<li><a href="https://www.quiverquant.com/sources/covidTreatment">CORONAVIRUS - RESEARCH</a></li>
									<li><a href="https://www.quiverquant.com/sources/ceocompensation">EXECUTIVE COMPENSATION</a></li>
									<li><a href="https://www.quiverquant.com/sources/maude">FDA</a></li>
									<li><a href="https://www.quiverquant.com/sources/insidertrading">INSIDER TRADING</a></li>
									<li><a href="https://www.quiverquant.com/sources/sbaloans">PAYCHECK PROTECTION PROGRAM</a></li>
									<li><a href="https://www.quiverquant.com/sources/climate">PREDICTIT - CLIMATE CHANGE</a></li>
									<li><a href="https://www.quiverquant.com/sources/predictit">PREDICTIT - POLITICAL BETA</a></li>
									<li><a href="https://www.quiverquant.com/sources/recession">PREDICTIT - RECESSION</a></li>
									<li><a href="https://www.quiverquant.com/sources/robinhood">ROBINHOOD USER DATA</a></li>
									<li><a href="https://www.quiverquant.com/sources/twitter">TWITTER</a></li>
									<li><a href="https://www.quiverquant.com/sources/uspto">US PATENT OFFICE</a></li>
									<li><a href="https://www.quiverquant.com/sources/senatetrading">US SENATOR TRADING</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="filter__item dropout mobile">
					<div class="filter__item_header">
						<a href="javascript:void(0);" class="filter__item_drop_link"></a>
						<div class="filter__item_icon" style="background: #19D3F3">
							<img src="/static/img/link-icon.svg" alt="">
						</div>
						<div class="filter__item_title">
							<div class="filter__item_title_text">
								<h4>Select source</h4>
								<span>Data by source</span>
							</div>
						</div>
					</div>
					<div class="filter__item_content">
						<a href="javascript:void(0);" class="back">Back</a>
						<div class="filter__item_content_inner">
							<ul>
								<li><a href="https://www.quiverquant.com/sources/corporateflights">CORPORATE FLIGHTS</a></li>
								<li><a href="https://www.quiverquant.com/sources/coronavirus">CORONAVIRUS - US SPREAD</a></li>
								<li><a href="https://www.quiverquant.com/sources/covidTreatment">CORONAVIRUS - RESEARCH</a></li>
								<li><a href="https://www.quiverquant.com/sources/ceocompensation">EXECUTIVE COMPENSATION</a></li>
								<li><a href="https://www.quiverquant.com/sources/maude">FDA</a></li>
								<li><a href="https://www.quiverquant.com/sources/insidertrading">INSIDER TRADING</a></li>
								<li><a href="https://www.quiverquant.com/sources/sbaloans">PAYCHECK PROTECTION PROGRAM</a></li>
								<li><a href="https://www.quiverquant.com/sources/climate">PREDICTIT - CLIMATE CHANGE</a></li>
								<li><a href="https://www.quiverquant.com/sources/predictit">PREDICTIT - POLITICAL BETA</a></li>
								<li><a href="https://www.quiverquant.com/sources/recession">PREDICTIT - RECESSION</a></li>
								<li><a href="https://www.quiverquant.com/sources/robinhood">ROBINHOOD USER DATA</a></li>
								<li><a href="https://www.quiverquant.com/sources/twitter">TWITTER</a></li>
								<li><a href="https://www.quiverquant.com/sources/uspto">US PATENT OFFICE</a></li>
								<li><a href="https://www.quiverquant.com/sources/senatetrading">US SENATOR TRADING</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="dashboard__sidebar_filter">
					<h6 class="dashboard__sidebar_filter_title"><img src="/static/img/bag-icon.svg" alt="" class="icon"><span>Data by company</span></h6>
					<div class="dashboard__sidebar_filter_field_wrapper">
						<div class="dashboard__sidebar_filter_field">
							<div class="dashboard__sidebar_filter_field_icon">
								<img src="/static/img/bag-icon.svg" alt="">
							</div>
							<form action="" class="sidebar__ticker_search_form">
								<input type="search" name="Search Ticker" id="search__ticker" placeholder="Enter Ticker">
								<button type="submit">
									<img src="/static/img/search-icon.svg" alt="">
								</button>
							</form>
						</div>
					</div>
				</div>
				<nav class="sidebar__nav">
					<h6 class="sidebar__nav_title">Other tools</h6>
					<ul class="sidebar__nav_menu">
						<li><a href="https://www.quiverquant.com/sources/corporateflights"><span>Corporate Flights</span></a></li>
						<li><a href="https://www.quiverquant.com/sources/senatetrading"><span>US Senate Trading</span></a></li>
						<li><a href="https://www.quiverquant.com/sources/housetrading"><span>US House Trading</span></a></li>
						<li><a href="https://www.quiverquant.com/sources/insidertrading"><span>Insider Trading</span></a></li>
						<li><a href="https://www.quiverquant.com/sources/covdidTreatment"><span>COVID-19 Research</span></a></li>
						<li><a href="https://www.quiverquant.com/sources/sharedownership"><span>Shared Ownership</span></a></li>
					</ul>
				</nav>
				<div class="button__wrapper">
					<a href="https://www.quiverquant.com/quiverplus" class="btn__motion"><span class="first">q</span><span class="rest">uiver</span><span class="symbol">+</span></a>
				</div>
				<ul class="dashboard__actions mobile">
					{% if user.is_authenticated %}
					<li><a href="javascript:void(0);" class="greating"><span class="icon"></span> Hi, <span class="text">{{user.username}}</span></a></li>
					<li><a href="https://www.quiverquant.com/logout" class="log__out"><img src="/static/img/logout-icon.png" alt="out"> Log Out</a></li>
					{% else %}
					<li><a href="#login__window" class="modal__open"><img style="margin-right:2.0rem" src="/static/img/sign-in-icon.svg" alt="out"> Sign in</a></li>
					<li><a href="#register__window" class="modal__open"><img style="margin-right:2.0rem" src="/static/img/sign-up-icon.svg" alt="out"> Sign up</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div> -->
	<div class="dashboard__content" style="width:100%">
		<div class="dashboard__content_top" style="width:100%">
			<ul class="dashboard__breadcrumbs">
				<li><a href="../..">Home</a></li>
				<li><a href="../..">Dashboard</a></li>
			</ul>
			<ul class="dashboard__actions">
					{% if user.is_authenticated %}
					<li><a href="javascript:void(0);" class="greating"><span class="icon"></span> Hi, <span class="text">{{user.username}}</span></a></li>
					<li><a href="https://www.quiverquant.com/logout" class="log__out"><img src="/static/img/logout-icon.png" alt="out"> Log Out</a></li>
					{% else %}
					<li><a href="#login__window" class="modal__open"><img style="margin-right:2.0rem" src="/static/img/sign-in-icon.svg" alt="out"> Sign in</a></li>
					<li><a href="#register__window" class="modal__open"><img style="margin-right:2.0rem" src="/static/img/sign-up-icon.svg" alt="out"> Sign up</a></li>
					{% endif %}
			</ul>
		</div>
		<div class="dashboard__content_main" style="width:100%">
			
			<div class="trading">
					<h3 style="text-align:center;color:#FF1d58;font-size:30px" class="content__filters_main_title">Thank You r/DataIsBeautiful</h3>				
				<div class="content__filters_wrapper" style="margin-top:20px">
					<h3 class="content__filters_main_title">You may have seen</h3>
					<div class="content__filters other">

						<div class="filter__item simple orange">
							<div class="filter__item_header">
								<a href="https://www.quiverquant.com/sources/senatetrading" class="filter__item_drop_link"></a>
								<div class="filter__item_icon" style="background: #FFA15A">
									<img src="/static/img/mi-1.svg" alt="" style="min-width: 3.6rem">
								</div>
								<div class="filter__item_title">
									<div class="filter__item_title_text">
										<h4>Senate Trading</h4>
										<span>Dashboard</span>
									</div>
								</div>
							</div>
						</div>

						<div class="filter__item simple blue">
							<div class="filter__item_header">
								<a href="https://www.quiverquant.com/sources/corporateflights" class="filter__item_drop_link"></a>
								<div class="filter__item_icon" style="background: #19D3F3">
									<img src="/static/img/plane-icon.svg" alt="" style="min-width: 4.1rem; position: relative; left: 0.2rem;">
								</div>
								<div class="filter__item_title">
									<div class="filter__item_title_text">
										<h4>Corporate Flights</h4>
										<span>Dashboard</span>
									</div>
								</div>
							</div>
						</div>

						<div class="filter__item simple green">
							<div class="filter__item_header">
								<a href="https://www.quiverquant.com/sources/govcontracts" class="filter__item_drop_link"></a>
								<div class="filter__item_icon" style="background: #22CF99">
									<img src="/static/img/mi-4.svg" alt="" style="min-width: 3.6rem">
								</div>
								<div class="filter__item_title">
									<div class="filter__item_title_text">
										<h4>Government Contracts</h4>
										<span>Dashboard</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="content__filters other" style="margin-top:10px">

						<div class="filter__item simple">
							<div class="filter__item_header">
								<a href="https://www.quiverquant.com/sources/housetrading" class="filter__item_drop_link"></a>
								<div class="filter__item_icon" style="background: #51B45A">
									<img src="/static/img/mi-1.svg" alt="" style="min-width: 3.6rem">
								</div>
								<div class="filter__item_title">
									<div class="filter__item_title_text">
										<h4>House Trading</h4>
										<span>Dashboard</span>
									</div>
								</div>
							</div>
						</div>

						<div class="filter__item simple blue">
							<div class="filter__item_header">
								<a href="https://www.quiverquant.com/sources/ceocompensation" class="filter__item_drop_link"></a>
								<div class="filter__item_icon" style="background: #69A1F3">
									<img src="/static/img/mi-3.svg" alt="" style="min-width: 4.1rem; position: relative; left: 0.2rem;">
								</div>
								<div class="filter__item_title">
									<div class="filter__item_title_text">
										<h4>CEO Compensation</h4>
										<span>Dashboard</span>
									</div>
								</div>
							</div>
						</div>

						<div class="filter__item simple">
							<div class="filter__item_header">
								<a href="https://www.quiverquant.com/sources/insidertrading" class="filter__item_drop_link"></a>
								<div class="filter__item_icon" style="background: #000000">
									<img src="/static/img/mi-3.svg" alt="" style="min-width: 3.6rem">
								</div>
								<div class="filter__item_title">
									<div class="filter__item_title_text">
										<h4>Insider Trading</h4>
										<span>Dashboard</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="filter__item search" style="margin-top:10px">
				<h3 class="content__filters_main_title" style="color:#ff1d58">Search data by ticker</h3>
				<form onsubmit="get_action(this);" class="ticker__search_form">
				<input style="font-size:28px" type="text" id="ticker" placeholder="TSLA">
				<button type="submit"><img src="/static/img/search-icon.svg" alt></button>
				</form>
				</div>
			</div>

		</div>
		<footer class="main__footer">
			<div class="main__footer_inner">
				<div class="side left">
					<a href="/" class="logo">
						<img src="/static/img/logo.png" alt="">
					</a>
					<p class="note">Quiver scrapes alternative stock data from across the internet and aggregates it in an free, easy-to-use web dashboard.</p>
					<div class="copy">
						<span>Copyright © 2020 Quiver Quantitative, Inc. All rights reserved.</span>
						<ul>
							<li><a href="https://www.quiverquant.com/privacypolicy">Privacy Policy</a></li>
							<li><a href="https://www.quiverquant.com/termsofservice">Terms of Service</a></li>
						</ul>
					</div>
				</div>
				<div class="side center">
					<ul class="footer__menu">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="../blog">Blog</a></li>
						<li><a href="../aboutus">About</a></li>
						<li><a href="mailto:james@quiverquant.com?subject=Contact Us">Contact</a></li>
					</ul>
				</div>
				<div class="side right">
					<div class="copy">
						<span>Copyright © 2020 Quiver Quantitative, Inc. All rights reserved.</span>
						<ul>
							<li><a href="https://www.quiverquant.com/privacypolicy">Privacy Policy</a></li>
							<li><a href="https://www.quiverquant.com/termsofservice">Terms of Service</a></li>
						</ul>
					</div>
					<div class="autor">
						<span>Design by: </span>
						<a href="https://amen.team/" target="_blank"><img src="/static/img/amen-logo.svg" alt=""></a>
					</div>
				</div>
			</div>
		</footer>
		
		
		
		<!-- modals -->
		
        <div class="modal__window" id="login__window">
            <div class="modal__window_overlay"></div>
            <div class="modal__window_content">
                <button class="modal__window_close">
                    <span class="modal__window_close_icon">
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <div class="modal__window_content_inner">
                    <form action="../login/" class="login__form" method="post">
                        {% csrf_token %}
                        <h3 class="form__title">TRADE SMARTER</h3>
                        <span class="form__notice">with our free, cutting-edge alternative data platform</span>
                        <div class="field__wrapper name">
                            <input type="text" name="username" placeholder="Username" id="username">
                            <span class="error__text">Please enter user name</span>
                        </div>
                        <div class="field__wrapper pass valid">
                            <input type="password" name="password" placeholder="Password" id="password">
                            <span class="error__text">Password too short</span>
                        </div>
                        <div class="submit__wrapper">
                            <button type="submit" class="btn">Sign in</button>
                        </div>
                        <div style="margin-bottom:0rem" class="redirect">Don't have an account? <a href="#register__window" class="modal__open">Sign Up for Free</a></div>
                        <div class="redirect"><a href="../password_reset/" class="">Forgot password?</a></div>
                    </form>
                </div>
            </div>
        </div>
        
        
        <div class="modal__window" id="register__window">
            <div class="modal__window_overlay"></div>
            <div class="modal__window_content">
                <button class="modal__window_close">
                    <span class="modal__window_close_icon">
                        <span></span>
                        <span></span>
                    </span>
                </button>
                <div class="modal__window_content_inner">
                    <form action="../register/" class="login__form" method="post">
                        {% csrf_token %}
                        <h3 class="form__title">TRADE SMARTER</h3>
                        <span class="form__notice">with our free, cutting-edge alternative data platform</span>
                        <div class="field__wrapper name">
                            <input type="text" name="username" required id="id_username" maxlength="150" placeholder="Username">
                            <span class="error__text">Please enter user name</span>
                        </div>
                        <div class="field__wrapper email valid">
                            <input type="email" name="email" placeholder="Email" required id="email">
                            <span class="error__text">Please enter valid email</span>
                        </div>
                        <div class="field__wrapper pass valid">
                            <input type="password" name="password1" placeholder="Password" required id="id_password1">
                            <span class="error__text">Password too short</span>
                        </div>
                        <div class="field__wrapper pass valid">
                            <input type="password" name="password2" placeholder="Confirm Password" required id="id_password2">
                            <span class="error__text">Password too short</span>
                        </div>
                        <div class="submit__wrapper">
                            <button type="submit" class="btn">Sign Up</button>
                        </div>
                        <div class="redirect">I already have an account, <a href="#login__window" class="modal__open">Sign In</a></div>
                    </form>
                </div>
            </div>
        </div>
		
		
			
		
			<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
			<script src="/static/js/dashboard.js"></script>
			<script src="/static/js/registrationmenu.js"></script>
			<script type="text/javascript">
			function get_action(form) {
			form.action = 'https://www.quiverquant.com/dashboard/'+document.getElementById("ticker").value;
			}
			</script>
		</body>
		</html>
	</div>
</main>